.git
.gitignore
**/node_modules
**/dist
**/.next
**/.turbo
**/tsconfig.tsbuildinfo
**/coverage
**/test-results
**/playwright-report
**/dev.db
**/dev.db-journal
**/*.local
**/.env.*local
structure
e2e
*.md
LICENSE
.DS_Store